{% extends 'main.html' %}

{% block content %}
    <h2>Farmer Login</h2>
    {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

    <form method="POST" class="p-5">
        {% csrf_token %}
        {{ form.as_p }}

        <label for="username">username:</label>
        <input class="form-control" type="text" name="username" required>

        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password" required>

    <br>
        <button  type="submit" class=" button-primary" >Login</button>

        <br>
        <br>
        <p>Don't Have an Account <a href="{% url 'farmer_register' %}">Register</a> Here</p>
    </form>




  {% endblock %}